* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu li {
  list-style-type: none;
  line-height: 200px;
  margin: 20px;
}

img {
  height: 200px;
}

.container {
  display: flex;
}

.menu {
  display: flex;
}
