* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu li {
  list-style-type: none;
  line-height: 100px;
  padding-left: 70px;
}

img {
  height: 100px;
}

.container {
  display: flex;
}

.menu {
  display: flex;
}

.drop_elements {
  line-height: 50px;
}

.drop {
  width: 200px;
  display: none;
  position: absolute;
  box-shadow: 0 5px 5px 2px rgb(80, 80, 80);
  border-radius: 5px;
}

.drop_elements {
  padding: 0 20px;
}

.active {
  display:block;
}

.has_dropsheet {
  position: relative;
}

.btn {
  background-color: rgb(217, 37, 123);
  padding: 10px 20px;
  border-radius: 20px;
}
